<div id="nav">
    <ul>
        <li class="upp"><a href="#">Main control</a>
            <ul>
                <li>&#8250; <a href="">Visit site</a></li>
                <li>&#8250; <a href="">Reports</a></li>
                <li>&#8250; <a href="">Add new page</a></li>
                <li>&#8250; <a href="">Site config</a></li>
            </ul>
        </li>
        <li class="upp"><a href="#">Manage content</a>
            <ul>
                <li>&#8250; <a href="">Show all pages</a></li>
                <li>&#8250; <a href="">Add new page</a></li>
                <li>&#8250; <a href="">Add new gallery</a></li>
                <li>&#8250; <a href="">Categories</a></li>
            </ul>
        </li>
        <li class="upp"><a href="#">Users</a>
            <ul>
                <li>&#8250; <a href="">Show all uses</a></li>
                <li>&#8250; <a href="">Add new user</a></li>
                <li>&#8250; <a href="">Lock users</a></li>
            </ul>
        </li>
        <li class="upp"><a href="#">Settings</a>
            <ul>
                <li>&#8250; <a href="">Site configuration</a></li>
                <li>&#8250; <a href="">Contact Form</a></li>
            </ul>
        </li>
        {% block topMenu %}
        {% endblock %}
    </ul>
</div>
