{% set errors = app.session.flashbag.get('error') %}
{% if errors | length %}
<div class="n_error">
    {% for flashMessage in  errors %}
    <p>
    {{ flashMessage }}
    </p>
    {% endfor %}
</div>
{% endif %}

{% set success = app.session.flashbag.get('success') %}
{% if success | length %}
<div class="n_ok">
    {% for flashMessage in  success %}
    <p>
    {{ flashMessage }}
    </p>
    {% endfor %}
</div>
{% endif %}